/* .square{
    width: 500px;
    height: 420px;
    background-color: #39B54A;
    border-radius: 4px;
}

#text{
    font-size: medium;
    color: white;
    text-align: center;
}

.txt-box{
    width: 320px;
    height: 30px;
    border: 1px solid;
    border-color: white;
    background-color: #39B54A;
    border-radius: 5px;
    color: white;
    font-size: x-small;
}

.txt-box2{
    width: 320px;
    height: 65px;
    border: 1px solid;
    border-color: white;
    background-color: #39B54A;
    border-radius: 5px;
    color: white;
    font-size: x-small;
}

#btn{
    width: 320px;
    height: 30px;
    border: 1px solid;
    border-color: orange;
    background-color: orange;
    color: white;
}

#txt2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    color: white;
} */