<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="input.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body class="font-poppins">

    <div class="relative">
        <img src="assets/Group 1000001788.svg" class="w-[1920px] h-[600px] " alt="Description of the image">
        <div class="absolute inset-0 flex items-center justify-center text-white text-[96px] font-bold">
            Products
        </div>
      </div>
      <div class=" grid grid-cols-3 gap-6 md:grid-cols-2 lg:grid-cols-2 mx-4 my-4 ml-11">

        <div class="flex flex-col items-center justify-center p-4 bg-white rounded-lg mx-2 my-2 leading-10 ">
            <p class="text-[35px] font-bold text-customGreen mt-0 mb-10  ">20 MVA Core Coil</p>
            <img src="assets/pro4.jpg" alt="Tebian Electric Apparatus" class="h-[488px] w-[650px]">
            <p class="text-[22px] font-semibold text-customGreen mt-7 mb-4">20 MVA Core Coil Assembly Work</p>
            <button class="bg-orange-500 text-white px-4 rounded-lg border-none"><label>View Products</label></button>
        </div>
        <div class="flex flex-col items-center justify-center p-4 bg-white  rounded-lg mx-2 my-2 leading-10">
            <p class="text-[35px] font-bold text-customGreen mt-0 mb-10 my-10">200 MVA Core Coil</p>
            <img src="assets/product2.jpg" alt="Tebian Electric Apparatus" class="h-[488px] w-[650px]">
            <p class="text-[22px] font-semibold text-customGreen mt-7 mb-4">200 MVA Core Coil Assembly Work</p>
            <button class="bg-orange-500 text-white px-4 rounded-lg border-none"><label>View Products</label></button>

        </div>
        <div class="flex flex-col items-center justify-center p-4 bg-white  rounded-lg   mx-2 my-2 leading-10">
            <p class="text-[35px] font-bold text-customGreen mt-0 mb-10 my-10">31.5 MVA Core Coil</p>
            <img src="assets/pro3.jpg" alt="Tebian Electric Apparatus" class="h-[488px] w-[650px]">
            <p class="text-[22px] font-semibold text-customGreen mt-7 mb-4">31.5 MVA Core Coil Assembly Work</p>
            <button class="bg-orange-500 text-white px-4 rounded-lg border-none"><label>View Products</label></button>

        </div>
        <div class="flex flex-col items-center justify-center p-4 bg-white  rounded-lg   mx-2 my-2 leading-10">
            <p class="text-[35px] font-bold text-customGreen mt-0 mb-10 my-10">25 MVA Core Coil</p>
            <img src="assets/product1.jpg" alt="Tebian Electric Apparatus" class="h-[488px] w-[650px]">
            <p class="text-[22px] font-semibold text-customGreen mt-7 mb-4">20 MVA Core Coil Assembly Work</p>
            <button class="bg-orange-500 text-white px-4 rounded-lg border-none"><label>View Products</label></button>

        </div>
        <div class="flex flex-col items-center justify-center p-4 bg-white  rounded-lg   mx-2 my-2 leading-10">
            <p class="text-[35px] font-bold text-customGreen mt-0 mb-10 my-10">25 MVA Core Transformer</p>
            <img src="assets/pro5.jpg" alt="Tebian Electric Apparatus" class="h-[488px] w-[650px]">
            <p class="text-[22px] font-semibold text-customGreen mt-7 mb-4">Repairing of 25 MVA Transformer</p>
            <button class="bg-orange-500 text-white px-4 rounded-lg border-none"><label>View Products</label></button>

        </div>
        <div class="flex flex-col items-center justify-center p-4 bg-white  rounded-lg   mx-2 my-2 leading-10">
            <p class="text-[35px] font-bold text-customGreen mt-0 mb-10 my-10">11 MVA Furnace</p>
                <img src="assets/pro6.jpg" alt="Tebian Electric Apparatus" class="h-[488px] w-[650px]">
                <p class="text-[22px] font-semibold text-customGreen mt-7 mb-4">11 MVA Furnace Transformer</p>
                <button class="bg-orange-500 text-white px-4 rounded-lg border-none"><label>View Products</label></button>

            </div>
      </div>
      
      
      
    
</body>
</html>