<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Contact Us</title>
</head>
<body>
    <table border="0" width="100%" style="background-image: url(file:///C:/Users/Dell/Desktop/live-project/asset/Rectangle.svg); width: 100%; height: 600px; background-repeat: no-repeat;">
        <tr>
            <td>
                <table border="0" style="background-color: rgba(0, 0, 0, 0.5);" width="100%" height="600px">
                    <tr>
                        <td>
                            <p align="center" style="font-weight: 700;">
                                <font color="white" size="96px">
                                    CONTACT US
                                </font>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <caption><p style="font-size: 48px; color: #39B54A;" align="center">Contact Us</p></caption>
    <div style="display: flex; padding-left: 230px;">
        <div class="square" align="center">
            <p id="text">Empowering your power transmission needs. For<br>custom transformer solutions or partnership<br>opportunities, please get in touch with us below:</p>
            <br>
            <input type="text" value="      Full Name" class="txt-box">
            <br><br>
            <input type="text" value="      Enter Email Address" class="txt-box">
            <br><br>
            <input type="text" value="      Mobile Number" class="txt-box">
            <br><br>
            <input type="text" value="      Message" class="txt-box2">
            <br><br>
            <button id="btn">SUBMIT</button>
        </div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;  
        </div>
        <div class="square">
            <br><br><br><br><br><br><br>
            <p id="txt2">
                Google Maps
            </p>
        </div>
    </div>
</body>
</html>